.CALheading-container {
    text-align: center;
    margin: 20px 0;
}

    .CALheading-container img {
        width: 100%;
        height: auto;
    }

    .CALheading-container h1 {
        font-family: 'Playfair Display', serif;
        font-size: 3em;
        margin-top: -50px;
    }

.calendar-container {
    background: #fff;
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
    padding: 20px;
}

.calendar-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

    .calendar-header .calendar-navigation span {
        font-size: 2em;
        cursor: pointer;
        user-select: none;
        color: #333;
    }

.calendar-body {
    padding: 10px;
}

.calendar-weekdays,
.calendar-dates {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

    .calendar-weekdays li,
    .calendar-dates li {
        width: calc(100% / 7);
        padding: 10px 0;
    }

    .calendar-weekdays li {
        font-weight: bold;
        color: #333;
    }

    .calendar-dates li {
        margin-top: 10px;
        position: relative;
        z-index: 1;
        cursor: pointer;
        color: #414141;
    }

        .calendar-dates li.inactive {
            color: #ccc;
        }

        .calendar-dates li.active {
            color: #fff;
            background: #6332c5;
            border-radius: 50%;
        }
