/* Heading */
.header-container {
	position: relative;
	top: 30px;
	left: 50px;
}

.header-container img {
	width: 300px;
	height: 60px;
}

.header-text {
	position: absolute;
	top: -15px;
	color: Black;
	padding-left: 10px;
	font-size: 36px;
}