/* CALENDAR STYLING */

.calendar {
    display: flex;
    justify-content: space-between;
    margin-left: 0; 
    padding: 0 20px; 
    width: 100%; 
    box-sizing: border-box;
}

.calendar-container {
    background: #fff;
    width: 60%;
    margin-right: 20px;
    box-sizing: border-box; 
}

.calendar-header {
    background: #565050ff;
    color: white;
    padding: 20px;
    align-items: center;
    display: flex;
}

    .calendar-header svg {
        fill: #d7b6b0ff;
    }

.calendar-btn {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    overflow: visible;
    padding: 0;
    min-width: 30px;
}

.calendar-header .calendar-current-date {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.45rem;
}

.calendar-body {
    box-sizing: border-box;
}

    .calendar-body ul {
        list-style: none;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
        padding: 0;
        margin: 0;
    }

    .calendar-body .calendar-dates {
        margin: 10px;
    }

    .calendar-body li {
        width: calc(100% / 7);
        font-size: 1.07rem;
        color: #414141;
    }

    .calendar-body .calendar-weekdays li {
        cursor: default;
        font-weight: 500;
        background-color: #d7b6b0ff;
        padding: 8px 0;
    }

    .calendar-body .calendar-dates li {
        margin-top: 15px;
        margin-bottom: 15px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #755049;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #d980755a;
    border-radius: 10%;
}

.calendar-dates li:not(.active):hover::before {
    border-radius: 10%;
    background: #e4e1e1;
}

/* EVENTS CONTAINER */

.event-container {
    margin-left: 20px; 
    background: #fff;
    width: 38%; 
    display: flex;
    flex-direction: column;
    min-height: 35vh;
    align-items: center;
    box-sizing: border-box;
}

.event-header .current-event {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.45rem;
}

.event-header {
    background: #565050ff;
    color: white;
    padding: 20px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.event-body {
    color: black;
    padding: 10px;
    position: relative;
    min-height: 52vh;
    box-sizing: border-box;
}
