/* Heading default colour + font */
h1 {
    color: #373232ff;
    position: absolute;
    top: -10px;
    left: 30px;
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-style: normal;
}

/* Calendar Heading */
.CALheading-container {
    position: relative;
    display: inline-block;
}

    .CALheading-container img {
        display: block;
        width: 260px;
        height: 50px;
        padding: 10px 20px;
    }

/* Educational Links Heading */
.ELheading-container {
    position: relative;
    display: inline-block;
}

    .ELheading-container img {
        display: block;
        width: 380px;
        height: 50px;
        padding: 10px 20px;
    }

/* Social Media Heading */
.SMheading-container {
    position: relative;
    display: inline-block;
}

    .SMheading-container img {
        display: block;
        width: 350px;
        height: 50px;
        padding: 10px 20px;
    }

/* News Heading */
.NEWSheading-container {
    position: relative;
    display: inline-block;
}

    .NEWSheading-container img {
        display: block;
        width: 260px;
        height: 50px;
        padding: 10px 20px;
    }

/* Gallery Heading */
.GALheading-container {
    position: relative;
    display: inline-block;
}

    .GALheading-container img {
        display: block;
        width: 260px;
        height: 50px;
        padding: 10px 20px;
    }

/* About Page */
.ABTheading-container {
    position: relative;
    display: inline-block;
}

    .ABTheading-container img {
        display: block;
        width: 260px;
        height: 50px;
        padding: 10px 20px;
    }

.Menuheading-container {
    position: relative;
    display: inline-block;
    margin: 15px 0 0 20%;
}

    .Menuheading-container img {
        display: block;
        width: 100%;
        height: 60px;
        padding: 10px 20px;
    }