.logo {
    margin-left: 10%;
    width: 85px;
    height: 80px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #e1d0c8ff;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 25%;
    margin-top: 10px;
}

.overlay a {
    margin-bottom: 30px;
    text-decoration: none;
    font-size: 30px;
    color: #373232ff;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #d7b6b0ff;
    }

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 60px;
}

/* Social media icons*/
.menu-socials {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

    .menu-socials a {
        margin: 0 10px;
    }

.social-icon {
    width: 30px; /* Adjust the size as needed */
    height: 30px; /* Adjust the size as needed */
    border-radius: 10%;
    transition: transform 0.2s ease-in-out;
}

    .social-icon:hover {
        transform: scale(1.1);
    }


