.logo {
    margin-left: 10%;
    width: 75px;
    height: 70px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #e1d0c8ff;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    width: 100%;
    text-align: left;
    margin-left: 25%;
    margin-top: 10px;
}

.overlay a {
    padding-bottom: 25px;
    text-decoration: none;
    font-size: 30px;
    color: #373232ff;
    display: block;
    transition: 0.3s;
}

    .overlay a:hover, .overlay a:focus {
        color: #d7b6b0ff;
    }

.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 45px;
    font-size: 60px;
}

@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px
    }

    .overlay .closebtn {
        font-size: 10px;
        top: 5px;
        right: 35px;
    }
}
