/* Background */
body {
	background-color: #746e6eff;
	margin: 0px;
	font-family: "Roboto", sans-serif;
	font-style: normal;
}

/* Navigation bar */
nav {
	background-color: #e1d0c8ff;
	top: 0;
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
}

	nav ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

.nav-left {
	justify-content: center;
	display: flex;
}

.nav-right {
	display: flex;
	justify-content: flex-end;
	margin-left: 10px;
}

nav li {
	margin: 0 10px;
}

	nav li a {
		display: block;
		color: #373232ff;
		text-align: center;
		padding: 30px 16px;
		text-decoration: none;
		font-weight: 400;
		font-size: 18px;
		transition: 0.3s;
	}

nav li a:hover {
	color: #d7b6b0ff;
}
