:root {
    --vanilla-calendar-bg-color: #fff;
    --vanilla-calendar-border-radius: 5px;
    --vanilla-calendar-border-color: #e7e9ed;
    --vanilla-calendar-today-bg-color: #E7E9ED;
    --vanilla-calendar-today-color: #333;
    --vanilla-calendar-selected-bg-color: #538fcd;
    --vanilla-calendar-selected-color: #fff;
    --vanilla-calendar-selected-radius: 5px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background: #7c7575ff;
    min-height: 100vh;
    padding: 0 10px;
    align-items: center;
    justify-content: center;
}

.calendar-container {
    background: #fff;
    width: 450px;
}

    .calendar-container header {
        background: #565050ff;
        color: white;
        padding-top: 25px;
        padding-bottom: 10px;
        align-items: center;
    }

header .calendar-navigation {
    display: flex;
}

    header .calendar-navigation span {
        height: 38px;
        width: 38px;
        margin: 0 30px;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;
        line-height: 38px;
        user-select: none;
    }

.calendar-navigation span:last-child {
    margin-right: -50px;
}

header .calendar-navigation span:hover {
    background: #d7b6b0ff;
    color: #565050ff;
}

.calendar-navigation svg {
    fill: #d7b6b0ff;
}

.calendar-btnL {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    overflow: visible;
    justify-content: center;
	display: flex;
    margin-left: 5%;
}

.calendar-btnR {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    overflow: visible;
	display: flex;
	justify-content: flex-end;
    margin-right: 5%;
}

header .calendar-current-date {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    font-weight: 500;
    font-size: 1.45rem;
}

.calendar-body {
    padding: 0 0px 10px 0px;
}

    .calendar-body ul {
        list-style: none;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
    }

    .calendar-body .calendar-dates {
        margin-bottom: 20px;
    }

    .calendar-body li {
        width: calc(100% / 7);
        font-size: 1.07rem;
        color: #414141;
    }

    .calendar-body .calendar-weekdays li {
        cursor: default;
        font-weight: 500;
        background-color: #d7b6b0ff; 
    }

    .calendar-body .calendar-dates li {
        margin-top: 30px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #755049;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #d980755a;
    border-radius: 10%;
}

.calendar-dates li:not(.active):hover::before {
    border-radius: 10%;
    background: #e4e1e1;
}

