* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    background: #7c7575ff;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.calendar-container {
    background: #fff;
    width: 450px;
}

.calendar-header {
   background: #565050ff;
   color: white;
   padding: 15px;
   align-items: center;
   display: flex;
 }

.calendar-header svg {
    fill: #d7b6b0ff;
}

.calendar-btn {
    background: none;
    border: 0;
    cursor: pointer;
    outline: none;
    overflow: visible;
    padding: 0;
    min-width: 30px;
}


.calendar-header .calendar-current-date {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.45rem;
}

.calendar-body {
    padding: 0 0px 10px 0px;
}

    .calendar-body ul {
        list-style: none;
        flex-wrap: wrap;
        display: flex;
        text-align: center;
    }

    .calendar-body .calendar-dates {
        margin-bottom: 20px;
    }

    .calendar-body li {
        width: calc(100% / 7);
        font-size: 1.07rem;
        color: #414141;
    }

    .calendar-body .calendar-weekdays li {
        cursor: default;
        font-weight: 500;
        background-color: #d7b6b0ff;
        padding: 7px 0 7px 0;
    }

    .calendar-body .calendar-dates li {
        margin-top: 25px;
        position: relative;
        z-index: 1;
        cursor: pointer;
    }

.calendar-dates li.inactive {
    color: #aaa;
}

.calendar-dates li.active {
    color: #755049;
}

.calendar-dates li::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    transform: translate(-50%, -50%);
}

.calendar-dates li.active::before {
    background: #d980755a;
    border-radius: 10%;
}

.calendar-dates li:not(.active):hover::before {
    border-radius: 10%;
    background: #e4e1e1;
}

